<!DOCTYPE html>
<html>
	<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- local CSS -->
	

	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	</head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<body>
	<body>
	<div class="container">
	  <div class="row">
		<div class="col-lg-10 col-xl-9 mx-auto">
		  <div class="card card-convert flex-row my-5">
			<div class="card-img-left d-none d-md-flex">
			</div>
			<div class="card-body">
			  <h5 class="card-title text-center">Currency Converter</h5>
			  <form class="form-convert">
			  <div class="form-label-group">
				  <input type="text" id="inputFrom" class="form-control" placeholder="Montant" required autofocus>
				  <label for="inputFrom">Montant</label>
				</div>
				
				<hr class="my-4">
				<div class="row text-center">
				<div class="form-label-group col-md-4 ">
				<input type="text" id="inputFrom" class="form-control" placeholder="from" required autofocus>
				<label for="inputFrom">from</label>
			  </div>
			  <div class="ui-group-buttons">
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <div class="or or-lg"> <i class="fa fa-exchange"></i></div>
                <button type="button" class="btn btn-success btn-lg">Large button</button>
            </div>
				<div class="form-label-group col-md-4 ">
				  <input type="text" id="inputTo" class="form-control" placeholder="To" >
				  <label for="inputTo">To</label>
				</div>
				</div>  
				<div class="col text-center">
				<button class="btn col-md-4"><i class="fa fa-refresh"></i> Convert </button>
				</div>  
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>




3

	  		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>