<!DOCTYPE html>
<html>
	<head>
	<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- local CSS -->
		<link rel="stylesheet" type="text/css" href="/css/style.css">

	<!-- Bootstrap CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	</head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<body>
		<div class="container">

		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card card-convert flex-row my-5">
					<div class="card-img-left d-none d-md-flex">
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">Currency Converter</h5>
					<form action='/' method='POST' class="form-convert">
				<div class="form-label-group">
					<input type="text" id="inputFrom" class="form-control" placeholder="Amount" name ="amount" onkeypress="javascript:return isNumber(event)" required autofocus>
					<label for="inputFrom" value>Amount</label>
				</div>
					
				<hr class="my-4">

				<div class="row">
					<div class="input-group col-md-5">
						<label class="input-group-text labelfrom" for="labelfrom">From</label>
						<select class="custom-select " id="from" name="from" required>
						<option selected>Choose</option>
						<option value="EUR">EUR</option>
							<option value="CHF">CHF</option>
							<option value="USD">USD</option>
						</select>
					</div>
				
					<div class="btn col-sm-2 offset-sm-5 offset-md-0 col-md-2  ">
						<a   onClick="swapByOptionValue('select[name=\'from\']', 'select[name=\'to\']') " >
							<i class="fa fa-arrows-h" style="padding-top:12px;"></i>
						</a>
					</div>

					<div class="input-group col-md-5 ">
				
						<label class="input-group-text" for="To">To</label>
						<select class="custom-select " id="from" name="to" required>
							<option selected>Choose</option>
							<option value="EUR">EUR</option>
							<option value="CHF">CHF</option>
							<option value="USD">USD</option>

						</select>
					</div>
			
				</div>
				<hr>
				<div class="col text-center">
					<button type="submit" class="btn col-md-4" id="convert">
						<i class="fa fa-refresh"> </i> 
					Convert 
					</button>
				</div>  
				<hr>
				<p  class="col text-center"> Result : <%= @result %> <p>
				</form>

				<a href="/history"> Operations History </a>
			
				</div>
			</div>
		</div>
		
	</div>
	</div>





<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
				<script src="/js/script.js"></script>
				<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			
	</body>
</html>